


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    width: 80%;
    margin: auto;
}
.search-field
{
    float: right;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}
.errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
}

.success-msg {
    color: #7ca936;
}

.form-control {
display: flex;
    flex-direction: column;
    
    border: none;
    width: 70%;
}

.form-control label {
    width: 60%;
    padding-right: 20px;
    margin-bottom: 5px;
}

button {
    max-width: 150px;
    padding: 5px 10px;
}

.event > form{
margin: auto;
}

.input-container
{
    /* display: flex; */
    width: 100%;
}
.add-event-label
{
    display: contents;
}
@media screen and (max-width: 600px) {
    body {
        width: 90%;
    }

    .errorMsg {
        max-width: 100%;
    }

    .form-control {
        flex-direction: column;
    }

    .form-control input[type="text"],
    .form-control input[type="password"] {
        width: inherit;
    }
}