.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 4rem;

	border-radius: 0.5rem;

}

.registerForm {
	width: 100%;
	max-width: 400px;
}

/* input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	font-size: 1rem;
	outline: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input [type="checkbox"] {
	margin-right: 0.5rem;
}

label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
} */

.form-input {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	font-size: 1rem;
	outline: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.RegisterButton {
	display: inline-block;
	background-color: red;
	border-radius: 1rem;
	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.RegisterButton:hover {
	background-color: white;
	color: red;
}

.titleRegister {
	font-size: 50px;
	font-weight: bold;
	font-family: "primary";
	margin-bottom: 30px;
	color: red;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	justify-content: center;
	align-items: center;
}


.languages-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	text-align: center;
}

.languages-container > div {
	margin-right: 40px;
	margin-bottom: 10px;
}
