/* Default for larger screens */

.eventsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	color: rgb(9, 31, 34);
	column-gap: 20px;
	row-gap: 20px;
	margin-bottom: 3%;
}

.inputEvents {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc !important;
	border-radius: 0.5rem;
	font-size: 1rem;
	outline: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: sans-serif;
}

.eventsImage {
	width: 550px;
	height: 300px;
	padding: 1rem;
	border-radius: 50px;
}

.imageEventCard {
	max-width: 100%;
	height: auto;
	width: 270px;
	height: 130px;
}

.eventTitle {
	font-size: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: center;
	text-decoration: underline;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
	/* line-height: 1.2; */
}

.eventLocation {
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eventButton:hover {
	background-color: white;
	color: red;
	border: 2px solid rgb(147, 147, 147);
}
.eventButton {
	display: inline-block;
	background-color: red;

	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.searchBar {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
	border: none;
}

.searchBar input {
	flex: 1;
	margin-right: 30px;
	border: none;
	height: 4rem;
}

.searchBar button {
	background-color: red;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 4rem;
	width: 10rem;
	font-weight: bold;
}

.searchBar button:hover {
	background-color: white;
	color: red;
	border: 2px solid rgb(147, 147, 147);
}

.descriptionEvent {
	font-size: 0.9rem;
	color: rgb(82, 82, 82);
	text-align: center;
	margin-top: 1rem;
	height: 125px;
	/* display: flex; */
	/* justify-content: center;
	align-items: center; */
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: sans-serif;
}

.locationEvents,
.dataEvents {
	font-size: 1rem;
	margin-right: 10px;
	font-style: italic;
	margin-top: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* line-height: 1.2; */
}

.card-content2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-event {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.card2 {
	border: 2px solid rgb(200, 200, 200);
}
.text-containerEvent {
	display: flex;
	flex-direction: column;
}

.text-containerEvent h1 {
	margin: 0;
	font-size: 100px;
	font-weight: bold;
	font-family: "primary";
	line-height: 120%;
	letter-spacing: -0.05em;
	margin-bottom: 2px;
	color: red;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

/*Styles for smaller screens and tablets */
@media (max-width: 1024px) {
	.eventsContainer {
		grid-template-columns: repeat(2, 1fr);
	}

	.eventsImage {
		width: 230px;
		height: 130px;
		padding: 1rem;
	}

	.imageEventCard {
		max-width: 100%;
		height: auto;
		width: 270px;
		height: 130px;
		display: block;
		margin: 0 auto;
	}

	.eventTitle {
		font-size: 1rem;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}

	.eventLocation {
		font-size: 1.5rem;
	}

	.searchBar input {
		margin-right: 10px;
		height: 3rem;
	}

	.searchBar button {
		height: 3rem;
		width: 8rem;
	}

	.text-containerEvent h1 {
		font-size: 50px;
		line-height: 110%;
		margin-bottom: 5px;
	}

	.title-event {
		font-size: 60px;
		line-height: 110%;
		margin-bottom: 5px;
	}
}

/*Styles for mobile screens */
@media (max-width: 600px) {
	.eventsContainer {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		column-gap: 0;
		row-gap: 20px;
		margin-bottom: 3%;
	}

	.eventsImage {
		display: block;
		margin: auto;
		margin-top: 20px;
		width: 100%;
		height: auto;
	}

	.imageEventCard {
		max-width: 100%;
		height: auto;
		width: 270px;
		height: 130px;
		display: block;
		margin: 0 auto;
	}

	.text-containerEvent {
		text-align: center;
	}

	.searchBar {
		flex-direction: column;
		align-items: center;
		margin-top: 10%;
	}

	.searchBar {
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	.searchBar input {
		margin-right: 0;
		margin-bottom: 10px;
		height: auto;
		width: 100%;
	}

	.searchBar button {
		height: auto;
		width: 100%;
		margin-bottom: 20px;
	}
	.card-content2 {
		flex-direction: column;
		padding: 1rem;
	}

	.text-containerEvent h1 {
		font-size: 50px;
		margin-bottom: 10px;
	}

	.title-event {
		font-size: 60px;
		margin-bottom: 10px;
	}
}
