/* .event {
  text-align: center;
  background-color: rgb(113, 174, 163);
  background: linear-gradient(90deg, rgb(113, 174, 163) 0%, rgb(174, 211, 223) 35%, rgb(169, 215, 224) 100%);
margin: 3rem 15rem;
font-size: 1.5rem;
padding: 2rem 2rem 2rem 2rem;
}  */

.allEvents {
    font-size: 3rem;
     text-align: center;
     background-color: rgb(149, 192, 184);
     /* background: linear-gradient(90deg, rgb(77, 132, 122) 0%, rgb(218, 242, 250) 35%, rgb(161, 202, 210) 100%); */
color: rgb(9, 31, 34);
    } 

.eventsContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap:20px;
    color: rgb(9, 31, 34);
}

.eventContent {
 background: linear-gradient(90deg, rgb(77, 132, 122) 0%, rgb(218, 242, 250) 35%, rgb(161, 202, 210) 100%);
     /* background-color: rgb(158, 200, 192); */
 padding: 20px;
    text-align: center;
    margin: 2rem;
}

.wholePage {
    background-color: rgb(255, 255, 255);
}