#root{
  position: absolute;
    top: 0;
    width: 60%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  
}

.img {
  max-width: 350px;
}

.logo {
  margin-right: 2rem;
  size: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  padding-right: 3rem;
    margin: auto;
}

.nav a {
  text-decoration: none;
 color: red;
 margin-top: 3.5rem;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .img {
  /* max-width: 100%; */
  width: 300px;
  height: auto;
}
  
  .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 50px;
  }
  
  .nav {
    width: auto;
    align-items: center;
    justify-content: center;

  }
  
  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  li {
    margin: 10px 0;
  }
}